/* resets */
ul,ol {list-style: none;}
ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {margin: 0; padding: 0;}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	margin: 20px 0px 10px 0;
	font-weight: normal;
}

h1 {
	font: 700 34px Roboto;
	color: #999999;
	margin: 0 0 10px 0;
}

h2 {
	font: 700 24px Roboto;
	color: #666666;
	margin: 0 0 10px 0;
}

h3 {
	font: 700 17px Roboto;
	color: #666666;
	margin: 0 0 10px 0;
	line-height: 1.1em;
}

/* Links */
a:link, a:visited, a:active {
	color: #0078c1;
	text-decoration: none;
}

a:hover {
	color: #0078c1;
	text-decoration: underline;
}

/* Paragraphs */
p {
	line-height: 1.2em;
}

/* Lists */
.content ul {
	margin: 0 0 25px 25px;
}

.content ul li {
	list-style: disc;
	margin: 0 0 10px 0;
}

.content ol {
	margin: 0 0 15px 30px;
}

.content ol li {
	list-style: decimal;
	margin: 0 0 5px 0;
	color: #565655;
}
/* Layout */
body {
	font: 12px Roboto, Arial, Helvetica, sans-serif;
	color: #333333;
	background: #FFF;
	min-width: 965px;
}

.phone {
	float: left;
	display: inline;
	font: 700 16px "Roboto Condensed";
	color: #555555;
	line-height: 28px;
	margin: 0 0 0 212px;
}

.phone i {
	color: #0078c1;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	margin-left: -4px;
	vertical-align: top;
}

/* Slideshow */
.slideshow {
	overflow: hidden;
	height: 638px;
	position: relative;
	margin: 0 0 21px 0;
	border-bottom: 1px solid #CCCCCC;
	background: #EEE;
}

.slider {
	position: relative;
	background: #EEE;
	height: 600px;
	width: 1100px;
}

.slider img {
	position: absolute;
	top: 0;
}

.slider .slider-image { width:1600px; height:638px; }
.slider .not-loaded { width:1px; height:1px; display:none; }
.slider .first-slide { z-index:750; }

.slider .slider-hiddenimage { display:none; }

.slider-menu {
	width: 965px;
	position: absolute;
	bottom: 24px;
	left: 50%;
	margin: 0 0 0 -482px;
	z-index: 999;
}

.slider-menu .inner {
	float: left;
	left: 50%;
	position: relative;
	text-align: center;
}

.slider-menu ul {
	position: relative;
	left: -50%;
	float: left;
}

.slider-menu li {
	float: left;
	display: inline;
	margin: 0 0 0 5px;
}

.slider-menu li a:link, .slider-menu li a:visited {
	float: left;
	display: inline;
	background: #0078c1;
	border: 2px solid #FFF;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	width: 13px;
	height: 13px;
}

.slider-menu li.activeSlide a:link, .slider-menu li.activeSlide a:visited {
	background: #4ebcff;
}

#prev, #next {
	position: absolute;
	top: 230px;
	left: 17px;
	z-index: 1001;
	width: 48px;
	height: 51px;
	background: url('/templates/uscondex/media/images/homepagev4/prev.png') no-repeat;
}

#next {
	right: 20px;
	left: auto;
	background: url('/templates/uscondex/media/images/homepagev4/next.png') no-repeat;
}

#prev:hover, #next:hover {
	background-position: 0 100%;
}

/* Search */
.search {
	position: absolute;
	top: 146px;
	left: 0;
	z-index: 999;
	width: 100%;
}

.tabs {
	margin: 0 0 0 117px;
	position: relative;
	z-index: 1000;
}

.tabs li {
	float: left;
	display: inline;
	margin: 0 0 0 1px;
	position: relative;
}

.tabs a:link, .tabs a:visited {
	float: left;
	display: inline;
	font: 700 16px Roboto;
	color: #333333;
	/*padding: 0 55px;*/
	text-align: center;
	height: 37px;
	line-height: 37px;
	border: 1px solid #888888;
	border-bottom: none;
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
	-webkit-border-radius: 9px 9px 0 0;
	border-radius: 9px 9px 0 0;
	position: relative;
}

#tab-for-sale a {
	width: 176px;
}

#tab-for-rent a {
	width: 177px;
}

#tab-buildings a {
	width: 176px;
}

#tab-foreclosures a {
	width: 190px;
}

.tabs li.current a:link, .tabs li.current a:visited,
.tabs li:hover a:link, .tabs li:hover a:visited {
	border-color: #002b8c;
	background: #0286d5;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyODZkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZhY2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #0286d5 0%, #006ace 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0286d5), color-stop(100%,#006ace));
	background: -webkit-linear-gradient(top,  #0286d5 0%,#006ace 100%);
	background: -o-linear-gradient(top,  #0286d5 0%,#006ace 100%);
	background: -ms-linear-gradient(top,  #0286d5 0%,#006ace 100%);
	background: linear-gradient(to bottom,  #0286d5 0%,#006ace 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0286d5', endColorstr='#006ace',GradientType=0 );
	color: #FFF;
	text-shadow: 0px 1px 1px #015294;
   filter: dropshadow(color=#015294, offx=0, offy=1);
}

.tabs li a:hover {
	text-decoration: none;
}

.tabs li a:before {
	content: "";
	display: block;
	position: absolute;
	bottom: -1px;
	left: -1px;
	right: -1px;
	height: 1px;
	background: #888888;
}

.tabs li.current a:before, .tabs li:hover a:before {
	background: #002b8c;
}

.tabs li.current:before {
	content: "";
	display: block;
	position: absolute;
	bottom: -9px;
	left: 50%;
	margin: 0 0 0 -10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-bottom-style: none;
	border-left-width: 10px;
	border-top-width: 9px;
	border-right-width: 10px;
	border-color: transparent;
	border-top-color: #052f8d;
	z-index: 1001;
}

.tabs li.current:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -7px;
	left: 50%;
	margin: 0 0 0 -8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-bottom-style: none;
	border-left-width: 8px;
	border-top-width: 7px;
	border-right-width: 8px;
	border-color: transparent;
	border-top-color: #006ace;
	z-index: 1002;
}

.the-search {
	border: 1px solid #8a8b8c;
	-webkit-border-radius: 0 0 9px 9px;
	border-radius: 0 0 9px 9px;
	padding: 19px 0 38px 35px;
	position: relative;
	margin: 0 0 0 118px;
	width: 693px;
	height:106px;
	overflow:hidden;
}

.the-search:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
	filter:alpha(opacity=96);
	-moz-opacity: 0.96;
	opacity: 0.96;
}

.search-headline {
	position: relative;
	z-index: 1000;
}

.search-headline {
	margin: 0 0 20px 10px;
}

.search-headline div, .search-headline h1 {
	font: 700 30px Roboto;
	color: #555555;	
	display:inline;
}

.search-hiddenmode { display:none; }

.search-form 
{
	z-index:1200;
	position:absolute;
	padding: 19px 1px 38px 36px;
	position: relative;
	margin: 0 0 0 118px;
	width: 693px;
	top:-105px;
}

.search-form .typeable {
	float: left;
	display: inline;
	border: 1px solid #999999;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #FFF;
	-webkit-box-shadow: inset 0 0 6px 3px #e6e6e6;
	box-shadow: inset 0 0 6px 3px #e6e6e6;
	font: 500 16px Roboto;
	color: #333333;
	padding: 12px 12px;
	width: 552px;
}

.search-button {
	float: left;
	display: inline;
	background: #0285d5;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyODVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNjY3Y2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #0285d5 0%, #0667cd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0285d5), color-stop(100%,#0667cd));
	background: -webkit-linear-gradient(top,  #0285d5 0%,#0667cd 100%);
	background: -o-linear-gradient(top,  #0285d5 0%,#0667cd 100%);
	background: -ms-linear-gradient(top,  #0285d5 0%,#0667cd 100%);
	background: linear-gradient(to bottom,  #0285d5 0%,#0667cd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0285d5', endColorstr='#0667cd',GradientType=0 );
	border: 1px solid #0f3791;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	color: #FFF;
	-webkit-box-shadow: inset 1px 1px 0 0 #56beff, inset -1px 0 0 0 #56beff;
	box-shadow: inset 1px 1px 0 0 #56beff, inset -1px 0 0 0 #56beff;
	padding: 6px 24px 7px 24px;
	font-size: 29px;
	margin: 0 0 0 5px;
	cursor: pointer;
}

.search-button:hover {
	background: #0077be;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzdiZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDNmN2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #0077be 0%, #003f7e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0077be), color-stop(100%,#003f7e));
	background: -webkit-linear-gradient(top,  #0077be 0%,#003f7e 100%);
	background: -o-linear-gradient(top,  #0077be 0%,#003f7e 100%);
	background: -ms-linear-gradient(top,  #0077be 0%,#003f7e 100%);
	background: linear-gradient(to bottom,  #0077be 0%,#003f7e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0077be', endColorstr='#003f7e',GradientType=0 );
	border-color: #0d3691;
}

/* Columns */
.columns {
	margin: 0 0 39px 0;
}

/* News */
.news {
	float: left;
	display: inline;
	width: 467px;
}

.side-links {
	float: right;
	display: inline;
	margin: 7px 15px 0 0;
}

.side-links li {
	float: left;
	display: inline;
	font-weight: 700;
	font-size: 13px;
	position: relative;
	height: 24px;
	line-height: 22px;
	border-left: 1px solid #cccccc;
	padding: 0 0 0 16px;
	margin: 0 0 0 15px;
}

.side-links li:first-child {
	border-left: none;
}

a.rss:link, a.rss:visited {
	float: left;
	display: inline;
	background: url('/templates/uscondex/media/images/homepagev4/ico-rss.png') no-repeat 100% 0;
	padding: 0 27px 0 0;
	font-size: 14px;
	font-weight: 400;
	height: 22px;
	line-height: 22px;
	color: #666666;
	margin: 1px 0 0 0;
}

.columns h2 {
	margin: 0 0 5px 18px;
}

/* Articles */
.articles {
	border: 1px solid #cccccc;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
	padding: 21px 9px 0 17px;
}

.post {
	border-top: 2px solid #dddddd;
	padding: 20px 0 18px 0;
}

.articles .post:first-child {
	border-top: none;
	padding-top: 0;
}

.thumbnail {
	float: left;
	display: inline;
	border: 1px solid #bbbbbb;
	padding: 4px;
}

.thumbnail img {
	float: left;
	display: inline;
}

.details {
	float: left;
	display: inline;
	margin: 3px 0 0 16px;
	width: 288px;
}

.details h3 {
	margin: 0 45px 3px 0;
}

.details .details-box  {
	margin: 0 0 10px 0;
	height:103px;
	overflow:hidden;
}


.more a:link, .more a:visited {
	font-size: 15px;
	font-weight: 700;
	padding: 0 0 0 11px;
	position: relative;
}

.more a:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	margin: -4px 0 0 0;
	left: 2px;
	border-style: solid;
	border-right-style: none;
	border-left-width: 4px;
	border-top-width: 4px;
	border-bottom-width: 4px;
	border-color: transparent;
	border-left-color: #0078c1;
}

p.small-margin {
	margin-bottom: 4px;
}

/* Reviews */
.reviews {
	float: right;
	display: inline;
	width: 467px;
}

.rating {
	margin: 0 0 2px 0;
}

.rating-value {
	float: left;
	display: inline;
	color: #666666;
}

.rating-stars {
	float: left;
	display: inline;
	background: url('/templates/uscondex/media/images/homepagev4/img/star-empty.png') repeat-x;
	width: 85px;
	height: 15px;
	margin: 0 0 0 3px;
	position: relative;
}

.rating-stars:before {
	content: "";
	display: block;
	height: 15px;
	position: absolute;
	top: 0;
	left: 0;
	background: url('/templates/uscondex/media/images/homepagev4/star-full.png') repeat-x;
}

.stars-5:before {
	width: 85px;
}

.stars-4:before {
	width: 68px;
}

.stars-3:before {
	width: 51px;
}

.stars-2:before {
	width: 34px;
}

.stars-1:before {
	width: 17px;
}

/* Reasons */
.reasons {
	border-top: 2px solid #dddddd;
	padding: 17px 0 0 0;
	margin: 0 0 34px 0;
}

.reasons h1 {
	text-align: center;
	margin: 0 0 20px 0;
}

.reasons-list li {
	float: left;
	display: inline;
	width: 230px;
	text-align: center;
	padding: 5px 0 23px 0;
}

.reasons-list h2 {
	font-size: 25px;
	color: #003164;
	line-height: 1.1em;
	margin: 0 0 15px 0;
}

.reasons-list li.reason-1 {
	margin: 0 0 0 30px;
}

.reasons-list li.reason-2 {
	border-left: 2px solid #dddddd;
	margin: 0 0 0 46px;
	padding-left: 55px;
}

.reasons-list li.reason-3 {
	border-left: 2px solid #dddddd;
	margin: 0 0 0 60px;
	padding-left: 45px;
}

.reason-thumbnail {
	margin: 0 0 7px 0;
}

.button a:link, .button a:visited {
	display: block;
	font: 700 17px Roboto;
	color: #FFF;
	background: #0285d5;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyODVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDY2Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #0285d5 0%, #0466cc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0285d5), color-stop(100%,#0466cc));
	background: -webkit-linear-gradient(top,  #0285d5 0%,#0466cc 100%);
	background: -o-linear-gradient(top,  #0285d5 0%,#0466cc 100%);
	background: -ms-linear-gradient(top,  #0285d5 0%,#0466cc 100%);
	background: linear-gradient(to bottom,  #0285d5 0%,#0466cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0285d5', endColorstr='#0466cc',GradientType=0 );
	padding: 0 38px;
	height: 44px;
	line-height: 44px;
	-webkit-box-shadow: inset 1px 1px 0 0 #56beff, inset -1px 0 0 0 #56beff;
	box-shadow: inset 1px 1px 0 0 #56beff, inset -1px 0 0 0 #56beff;
	border: 1px solid #0f3793;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0px 1px 1px #014a89;
   filter: dropshadow(color=#014a89, offx=0, offy=1);
}

.button a:hover {
	background: #0077be;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzdiZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDNmN2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #0077be 0%, #003f7e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0077be), color-stop(100%,#003f7e));
	background: -webkit-linear-gradient(top,  #0077be 0%,#003f7e 100%);
	background: -o-linear-gradient(top,  #0077be 0%,#003f7e 100%);
	background: -ms-linear-gradient(top,  #0077be 0%,#003f7e 100%);
	background: linear-gradient(to bottom,  #0077be 0%,#003f7e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0077be', endColorstr='#003f7e',GradientType=0 );
	border-color: #0d3691;
	text-decoration: none;
}

.reasons-list .button a:link, .reasons-list .button a:visited {
	padding: 0;
	width: 164px;
	text-align: center;
	margin: 0 auto;
}

.reasons-list p {
	margin: 0;
	min-height: 75px;
}

/* Links */
.links {
	font-size: 12px;
	color: #555555;
	margin: 0 0 35px 0;
}

.links h2 {
	font-size: 21px;
	margin: 0 0 5px 0;
}

.links a:link, .links a:visited {
	color: #555555;
}

.links .column {
	float: left;
	display: inline;
	width: 200px;
}

.links-1 {
	margin: 0 0 0 17px;
}

.links-2 {
	margin: 0 0 0 58px;
}

.links-3 {
	margin: 0 0 0 54px;
}

.links-4 {
	margin: 0 0 0 35px;
}

.links li {
	margin: 0 0 5px 0;
}

h2.section a { color:#666666; }

/* Footer */
footer {
	color: #555555;
	font-size: 12px;
}

footer a:link, footer a:visited {
	color: #555555;
}

/* Bottom Line */
.bottom-line {
	border-top: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
	margin: 0 0 30px 0;
}

.by {
	float: left;
	display: inline;
	margin: 29px 0 29px 17px;
	word-spacing: 1px;
}

.social {
	float: right;
	display: inline;
	margin: 20px 0 0 0;
}

.social span {
	float: left;
	display: inline;
	margin: 9px 0 0 0;
}

.social ul {
	float: left;
	display: inline;
	margin: 0 15px 0 5px;
}

.social ul li {
	float: left;
	display: inline;
	margin: 0 0 0 4px;
}

a.more-links:link, a.more-links:visited {
	color: #0078c1;
}

/* Bottom Menu */
.bottom-menu {
	font-size: 12px;
	position: relative;
	margin: 0 auto 25px auto;
	padding: 0 0 10px 0;
	width:670px;
}

.bottom-menu-1:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 175px;
	width: 2px;
	height: 100%;
	background: #dddddd;
}

.bottom-menu-2:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 447px;
	width: 2px;
	height: 100%;
	background: #dddddd;
}

.bottom-menu h3 {
	color: #0078c1;
	margin: 0 0 5px 0;
}

.bottom-menu .column {
	float: left;
	display: inline;
	width: 145px;
}

.bottom-menu-1 {
	margin: 0 0 0 0;
}

.bottom-menu-2 {
	margin: 0 0 0 103px;
}

.bottom-menu-3 {
	margin: 0 0 0 130px;
}

.bottom-menu a:link, .bottom-menu a, .bottom-menu a:visited { font-size:12px; }
.copyright {
	text-align: center;
	word-spacing: 1px;
	padding: 0 0 25px 0;
}

.copyright a:link, .copyright a:visited {
	color: #0078c1;
}

/* Typeable Dropdown Results */

.hpv4_tbclass  {
	width:577px;
	height: 320px;
	background-color:#ffffff;
	border: 1px solid #8a8b8c;
	z-index:1000;
}
.hpv4_tbclass_0  {
	width:477px; 
	padding: 1px 4px 1px 4px; 
}
.hpv4_tbclass_1  {
	width:100px;
}
	
.hpv4_tbclass td  {
	font: 500 13px Roboto;
}

.search-form .USCXTextBox_ListBox {
	top:67px;
}